/* = Child Theme Custom CSS File
-------------------------------------------------------------- */
.home-slider, .home-search {
  background:white;
}
.home-features{
  padding: 30px 0 30px;
}
.home-features .single-feature {
  margin-bottom: 0;
}

.home-blog {
  padding: 20px 0;
}

.entry-author {
  display:none !important;
}

.comments_count {
  display:none !important;
}

.read-more {
  color: #ffffff !important;
}

nav.main-menu ul > li ul li a {
  color:#fff !important;
}

.show{
  display:block;
  opacity:1;
}
#main-footer {
  padding: 30px 0 30px 0;
}
.footer-bottom {
  margin-top: 30px;
}

.home-slider .slide-content {
  background:none;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .home-slider .flexslider {
    min-height: 100%;
  }
}

@media (max-width: 991px) {
  .home-slider .flexslider {
    min-height: 100%;
  }
}

.ecf-body {
	max-width:550px;
}
.input, .textarea {
	width:100%;
}
#search form input[type="text"] {
  	background-color: #3A3C41;
	color:#f0f5f7;
}

.blog-page .left_meta time strong{
	font-size: 20px;
}

.blog-page .left_meta time {
  padding: 8px 0 5px;
}

#search form input[type="text"]::-webkit-input-placeholder {
   color:#f0f5f7;
}

#search form input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color:#f0f5f7;
}

#search form input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color:#f0f5f7;  
}

#search form input[type="text"]:-ms-input-placeholder {  
   color:#f0f5f7; 
}